@use "../variables/spacing" as space;
@use "../variables/color" as color;

// Flexbox start
@mixin flex-start {
  display: flex;
  justify-content: start;
}

// Flexbox end
@mixin flex-end {
  display: flex;
  justify-content: end;
}

// Flexbox centering
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

// Flex between (space-between)
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

// Flex column
@mixin flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

// Flex row
@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// Flex footer
@mixin flex-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

// Responsive grid
@mixin responsive-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-template-rows: auto;
  align-items: start;
  justify-content: start;
}

// Card grid
@mixin card-grid($min-width: space.$spacing-240, $margin-top-bottom: space.$spacing-54, $gap: space.$spacing-35) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-width, 1fr));
  grid-template-rows: auto;
  gap: $gap;
  max-width: 100%;
  width: 80%;
  margin: $margin-top-bottom auto;
}

// Grid two columns
@mixin grid-two-columns {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: start;
  justify-content: start;
}

// Grid button
@mixin grid-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4rem;
  align-items: center;
}

// @mixin responsive-grid($min-width: space.$spacing-240, $row-height: space.$spacing-328) {
//   width: 100%;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax($min-width, 1fr));
//   grid-rows: auto;
//   grid-auto-rows: $row-height;
// }

// Button reset
@mixin button-reset {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
  color: inherit;
}

// Container
@mixin container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}