@use "../../style/variables/spacing" as space;
@use "../../style/variables/color" as color;
@use "../../style/mixins/mixins" as mix;

.excercises {
    width: 50%;

    &____viewport {
        overflow: hidden;
    }

    &__container {
        display: flex;
        margin-left: calc(space.$spacing-16 * -1);
    }

    &__slide {
        flex: 0 0 200%;
        min-width: 0;
        padding-left: space.$spacing-16;
        
        &__number {
            width: 50%;
            @include mix.flex-center;
            height: fit-content;
            user-select: none;
        }
    }

    //Buttons
    &__buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: space.$spacing-24;
        align-items: center;
        width: fit-content;
        margin: space.$spacing-16 20%;
    }

    &__button {
        touch-action: manipulation;
        display: inline-flex;
        cursor: pointer;
        padding: 0;
        margin: 0;
        border: 1px solid color.$white;
        width: space.$spacing-72;
        height: space.$spacing-72;
        border-radius: 50%;
        color: color.$white;
        @include mix.flex-center;

        &__svg {
            width: 40%;
        }

        &--disabled {
            color: transparent;
            border: 1px solid color.$grey-line;
        }
    }
}


.section__excercisess {
    padding: space.$spacing-113 space.$pct-spacing-14 space.$spacing-126;
    background-image: url(/images/reviews_background.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: fit-content;

    & .title {
        color: color.$white;
        align-items: start;
        margin: space.$spacing-24 auto space.$spacing-24 6.1%;
        text-align: left;
    }
}