@use "../../style/variables/spacing" as space;
@use "../../style/variables/color" as color;
@use "../../style/mixins/mixins" as mix;

.excercises {
    padding: 0 space.$pct-spacing-166;
    margin: space.$spacing-103 auto;

    &____viewport {
        overflow: hidden;
    }

    &__container {
        display: flex;
        margin-left: calc(space.$spacing-16 * -1);
    }

    &__slide {
        flex: 0 0 (100% / 3);
        min-width: 0;
        padding-left: space.$pct-spacing-60;
        
        &__number {
            width: 90%;
            @include mix.flex-center;
            height: fit-content;
            user-select: none;
        }
    }

    //Buttons
    &__buttons {
        display: flex;
        gap: space.$spacing-54;
        align-items: center;
        justify-content: center;
        margin: space.$spacing-64 0;
    }

    &__button {
        touch-action: manipulation;
        display: inline-flex;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: space.$spacing-72;
        height: space.$spacing-72;
        border-radius: 50%;
        color: color.$white;
        @include mix.flex-center;
        background-color: black;

        &__svg {
            width: 40%;
        }

        &--disabled {
            color: transparent;
            border: 1px solid color.$grey-line;
        }
    }
}


.section__excercises {
    padding: space.$spacing-113 space.$pct-spacing-14 space.$spacing-126;
}