@use "../../style/variables/spacing" as space;
@use "../../style/variables/color" as color;
@use "../../style/variables/typography" as typo;
@use "../../style/placeholders/base";

.footer {
  @extend %base;
  color: color.$white;
  background-color: color.$black;

  :not(h4) {
    font-size: typo.$p-12-size;
  }

  h4 {
    color: color.$white;
    font-size: typo.$p-30-size;
  }
}