// Color definitions
$white: #FFFFFF;
$black: #000000;
$orange: #E54E41;
$bg: #FFFFFF;
$gradient-bg: linear-gradient(180deg, #E24C46 0%, #E67A5B 100%);
$linear-btn: linear-gradient(90deg, #EB9988 0%, #D95A40 100%);