// Color definitions
$white: #FFFFFF;
$black: #000000;
$orange: #E54E41;
$green: #48C732;
$bg: #FFFFFF;
$some-bg: rgba(119, 119, 119, 0.45);
$border: rgba(235, 235, 235, 0.5);
$grey-font: #ABABAB;
$grey-info: #777777;
$grey-line: rgba(171, 171, 171, 0.5);
$gradient-bg: linear-gradient(180deg, #E24C46 0%, #E67A5B 100%);
$linear-btn: linear-gradient(90deg, #EB9988 0%, #D95A40 100%);