// Font sizes
$h1-size: 8.125rem;
$h2-size: 1.875rem;
$h3-size: 3.125rem;
$h4-size: 3.063rem;
$p-12-size: 0.75rem;
$p-16-size: 1rem;
$p-18-size: 1.125rem;
$p-25-size: 1.563rem;
$p-30-size: 1.875rem;
$p-32-size: 2rem;
$p-38-size: 2.375rem;
$p-55-size: 3.438rem;
$input-size: 1.438rem;
$nav-link-size: 1.5rem;
$btn-size: 1.25rem;

// Font weights
$h1-weight: 700;
$h2-weight: 400;
$h3-weight: 600;
$h4-weight: 500;
$p-weight: 300;
$nav-link-weight: 500;
$btn-weight: 500;
