@use "../variables/color" as color;
@use "../variables/spacing" as space;
@use "../variables/typography" as typo;
@use "../mixins/mixins" as mix;

// Base button styles
%btn,
%btn-play {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-weight: typo.$btn-weight;
  padding: space.$pct-spacing-14 space.$pct-spacing-50;
  border-radius: 100px;
  background: none;
  width: fit-content;
  color: color.$white;
  white-space: nowrap;
  align-self: center;

  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

%btn-play{
  padding: space.$spacing-16 space.$spacing-30;
}

%transparent-btn {
  border: solid 2px color.$border;
  color: color.$grey-info;
}

%orange-btn {
  background: color.$gradient-bg;
}

%white-play {
  background-color: color.$bg;
  svg{
    color: transparent;
  }
}

%orange-play {
  background: color.$linear-btn;
  svg{
    color: color.$white;
  }
}