@use "../../../../style/placeholders/buttons";
@use "../../../../style/mixins/mixins" as mix;
@use "../../../../style/variables/color" as color;
@use "../../../../style/variables/spacing" as space;

.mycomments {
    &__buttons {
        max-width: 30%;
        width: 100%;
        &>form {
            width: 100%;
            align-content: end;
            &>button {
                width: 80%;
            }
        }
        
        &>dialog{
            text-transform: uppercase;
            width: fit-content;

            &>form {
                @include mix.flex-between;
                flex-direction: row;
                justify-items: center;
                &>button {
                    @include mix.flex-between;
                    width: 100%;
                }
            }
            
        }
        
    }
}


dialog::backdrop {
    background-color: rgb(0 0 0 / 0.6);
}