@use "../../../style/variables/color" as color;
@use "../../../style/variables/spacing" as space;
@use "../../../style/variables/typography" as typo;
@use "../../../style/mixins/mixins" as mix;
@use "../../../style/placeholders/base";

.navigation {
    @include mix.flex-between;
    height: space.$spacing-187;
    grid-area: 1 / 1 / 1 / 1;
    z-index: 100;
    padding: 0 space.$pct-spacing-70 0 space.$pct-spacing-100;

    &__logo {
        &:hover {
            opacity: 0.5;
        }
    }

    &__ul {
        list-style: none;
        @include mix.flex-between;
        gap: space.$spacing-30;

        li {
            padding: 0;
        }

    }

    &__link {
        @include mix.button-reset;
        font-size: typo.$nav-link-size;
        font-weight: typo.$nav-link-weight;
        color: color.$white;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            color: color.$orange;
        }
    }
}