@use "../../../style/variables/color" as color;
@use "../../../style/variables/spacing" as space;
@use "../../../style/variables/typography" as typo;
@use "../../../style/mixins/mixins" as mix;

.testimonial {
    &__card {
        @include mix.flex-start;
        max-width: 100%;
        width: 90%;
        height: fit-content;
        gap: space.$spacing-16;
        margin-left: 12%;
    }

    &__image {
        max-width: 100%;
        height: auto;
        align-self: flex-start;
    }

    &__text {
        @include mix.flex-col;
        color: color.$white;
        gap: space.$spacing-24;
    }

    &__quote {
        padding: space.$spacing-12 0;
    }
    
    &__author {
        border-left: solid 2px color.$white;
        padding-left: space.$spacing-10;
        @include mix.flex-col;
        
        span {
            font-weight: 300;
            font-size: typo.$p-12-size;
            line-height: 100%;
        }

    }
}