@use "./style/variables/spacing" as space;
@use "./style/variables/color" as color;
@use "./style/mixins/mixins" as mix;
@use "./style/placeholders/base";
@use "./style/fonts/fonts";

body {
  @extend %base;
}

// SECTIONS
.section {
  margin: 0 auto;
  &__posts {
    margin: space.$spacing-103 auto;
  }
}