@use "../../../style/variables/color" as color;
@use "../../../style/variables/spacing" as space;
@use "../../../style/mixins/mixins" as mix;

.comments {
    margin: space.$spacing-103 auto;
    text-align: left;
    &__list {
        margin: space.$spacing-24 0;
    }
    &__item {
        margin: space.$spacing-24 0;

    }
    &__author {
        @include mix.flex-start;
        align-items: center;
        gap: space.$spacing-12;
        
    }
    &__name {
        text-transform: capitalize;
        color: color.$black;
        margin: space.$spacing-12 0;
    }
    &__date {
        color: color.$orange;

    }

}
