@use "../../../style/variables/color" as color;
@use "../../../style/variables/spacing" as space;
@use "../../../style/variables/typography" as typo;
@use "../../../style/mixins/mixins" as mix;

.mycomments {
    margin: space.$spacing-103 auto;
    width: 90%;
    text-align: left;

    &__item {
        @include mix.flex-between;
        margin: space.$spacing-24 0;
        border-top: 1px solid color.$border;

        form {
            width: fit-content;
        }
    }

    &__comment {
        align-self: start

    }

    &__author {
        @include mix.flex-start;
        align-items: center;
        gap: space.$spacing-12;
    }

    &__name {
        text-transform: capitalize;
        color: color.$black;
        margin: space.$spacing-12 0;
    }

    &__date {
        color: color.$orange;
        font-size: typo.$p-30-size;
    }
}