@use '../../../style/mixins/mixins' as mix;
@use '../../../style/variables/color' as color;
@use '../../../style/variables/typography' as typo;
@use '../../../style/variables/spacing' as space;

.wrapper {
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &.home {
        background-image: url(/images/about_us.png);
    }

    &.about {
        background-image: none;
        margin: 0 auto;

        .title h3 {
            color: color.$black;
        }

        p {
            color: color.$grey-info;
        }

        .about {
            max-width: 100%;
            display: grid;
            grid-template-columns: auto;
            margin: space.$spacing-103 space.$pct-spacing-226 space.$spacing-103 space.$pct-spacing-226;

            &__image {
                grid-area: 1 / 1 / 3 / 2;
                margin-right: space.$spacing-54;
            }

            .title {
                grid-area: 1 / 2 / 2 / 3;
                max-width: 40%;
                display: block;
                margin: 0;
            }

            &__text {
                grid-area: 2 / 2 / 4 / 3;
                max-width: 40%;
            }
        }
    }

    .about {
        max-width: 35%;
        width: 100%;
        margin: space.$spacing-103 space.$pct-spacing-122 space.$spacing-103 auto;

        .title {
            display: inline-block;
            text-align: left;
            color: color.$white;
        }

        &__text {
            font-size: typo.$p-21-size;
            font-weight: 300;
            line-height: 154.545%;
            max-width: 90%;
        }

        &.home {
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
            gap: space.$spacing-40;
            margin: space.$spacing-29 0;

            span {
                color: color.$white;
            }

            >div {
                color: color.$orange;
                background: none;
                z-index: 100;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 1fr);
                height: fit-content;
                width: 100%;
            }

            &:first-child,
            &:nth-child(3) {
                grid-column: 1;
            }

            &:nth-child(2),
            &:last-child {
                grid-column: 2;
            }
        }

        .button {
            gap: space.$spacing-30;
        }
    }
}