@use "../../style/variables/color" as color;
@use "../../style/variables/spacing" as space;
@use "../../style/variables/typography" as typo;
@use "../../style/mixins/mixins" as mix;
@use "../../style/placeholders/buttons";

.blog {
    @include mix.card-grid;

    &__card {
        display: contents;
        width: 100%;
        height: fit-content;
        padding: space.$spacing-20;
        text-align: center;
    }

    &__image {
        display: contents;
        position: relative;

        .image {
            height: auto;
            width: 100%;
            grid-row: 1;
        }

        p {
            grid-row: 2;
            background: color.$gradient-bg;
            border-radius: 50%;
            padding: space.$spacing-29;
            width: 2rem;
            height: 2rem;
            justify-self: center;
            margin-top: -5rem;
            color: color.$white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
                display: block;
                font-size: typo.$p-38-size;
                line-height: 90%;
            }
        }
    }

    &__text {
        display: contents;
        height: fit-content;
        padding: space.$spacing-54 space.$spacing-35;
    }

    &__h3 {
        font-size: typo.$p-25-size;
        grid-row: 3;
    }

    &__teaser {
        grid-row: 4;
        color: color.$grey-info;
        max-width: 70%;
        margin: 0 auto;
        line-height: 166.667%;
    }

    .button {
        white-space: nowrap;
        @include mix.flex-center;
        color: color.$orange;
        width: fit-content;
        margin: 0 auto;
        grid-row: 5;
        font-weight: 400;
        font-size: typo.$p-16-size;
    }
}

// COMPONENT
.section__posts {
    margin: space.$spacing-103 auto;
}