@use "../../style/variables/spacing" as space;
@use "../../style/mixins/mixins" as mix;

.title {
    @include mix.flex-center;
    flex-direction: column;
    margin: space.$spacing-24 auto;
    text-align: center;
}